#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.book {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  .book-info {
    .title {
      margin: 0;
    }
    .info {
      margin: 0;
      width: fit-content;
    }
  }
}
