#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h3 {
  margin: 0;
}

.book {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60vw;
  margin-top: 10px;
  .book-info {
    width: 60%;
    .info {
      margin: 0;
      text-align: left;
      margin-left: 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.button-container {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.logout:hover {
  background: red;
  border-color: red;
  color: #f9f9f9;
}

.form {
  display: flex;
  justify-content: space-between;
  width: 30vw;
}

form {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

input {
  border-width: 1px;
  border-radius: 5px;
  padding: 4px;
}

img {
  width: 70px;
}

.pagination {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

@media (max-width: 900px) {
  .book {
    .book-info {
      h2 {
        font-size: 16px;
      }
      h3 {
        font-size: 12px;
      }
    }
  }
}